# deps
node_modules/

# build output
.next/
out/

# env
.env
.env.local
.env.*.local

# local sqlite database
*.db
*.db-shm
*.db-wal

# misc
.DS_Store
*.pem
Thumbs.db

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
